<div>
  <p class="title has-text-centered" id="detail-title">
    <%= @menu.title %>
  </p>
</div>

<div class="box">
  <article class="media">

    <div class="media-content">
      <div class="content">
        <p class="subtitle is-2 has-text-centered" id="menu-purpose">
          <%= @menu.purpose %>
        </p>
        <p>
          <%= @menu.intro %>
        </p>
        <p>
          <strong>使用技術：</strong> <small><%= @menu.tech %></small><br>
          <strong>使用言語：</strong> <small><%= @menu.lang %></small>
        </p>
      </div>
    </div>
  </article>
</div>
