<script type="text/javascript">

// ページ内リンクのジャンプアニメーション
$(function () {
  $('a[href^="#"]').click(function () {
    var speed = 500;
    var href= $(this).attr("href");
    var target = $(href == "#" || href == "" ? 'html' : href);
    var headerHeight = 60;
    var position = target.offset().top - headerHeight;
    $("html, body").animate({scrollTop:position}, speed, 'swing');
    return false;
  });
});

//Topの表示アニメーション
$(function() {
  $('#top').hide().fadeIn(1500);
});

</script>

<header>
  <!-- <div class="header-logo">
  <%= link_to("TweetApp", "/") %>
</div> -->
<ul class="header-menus has-text-primary">
  <li><%= link_to 'About', '#about' %></li>
  <li><%= link_to 'Works', '#works' %></li>
  <li><%= link_to 'Profile', '#profile' %></li>
</ul>
</header>

<section class="section" id="top">
  <div class="container">
    <h1 class="title" id="title">
      Takuya's <br>
      Portfolio
    </h1>
    <p class="subtitle" id="subtitle">
      No Challenge, No Life.<br>
      Any Lifes, Be Fully.
    </p>
  </div>
</section>

<section class="section about-top" id="about">
  <div class="container">
    <p><%= image_tag 'icon/info.png' %>
    About</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="is-size-5 about-intro">
      <p>このサイトは、山川拓也（サイト制作者）のポートフォリオサイトです。
        過去の制作物や、サイト制作者のプロフィールを紹介しています。
        制作物に関しては詳細ページもあるので、詳しく知りたい方はそちらをご覧ください。</p>
    </div>
  </div>
</section>

<section class="section works-top" id="works">
  <div class="container">
    <p><%= image_tag 'icon/works.png' %>
    Works</p>
  </div>
</section>

<section class="section">
  <div class="columns is-mobile is-multiline is-centered">
    <% @menus.each do |menu| %>
    <div class="column is-narrow">
      <%= link_to "/#{menu.id}" do %>
      <div class="box menu" id="menu">
        <figure>
          <%= image_tag menu.imgpath %>
          <% end %>
          <figcaption>
            <p class="menu-title"><%= menu.title %></p>
            <p class="menu-purpose"><%= menu.purpose %></p>
          </figcaption>
        </figure>
      </div>
    </div>
    <% end %>
  </div>
</section>

<section class="section profile-top" id="profile">
  <div class="container">
    <p><%= image_tag 'icon/people.png' %>
    Profile</p>
  </div>
</section>

<section class="section">
  <div class="box container">
    <div class="myphoto">
      <%= image_tag 'me/me.png' %>
      <div class="is-size-4">
        <div class="profiles">
          <strong>名前：</strong><small>山川拓也</small><br>
          <strong>出身：</strong><small>岐阜県大垣市</small><br>
          <strong>趣味：</strong><small>音楽鑑賞、映画鑑賞、筋トレ、写真</small>
        </div>
        <div class="is-size-5">
          <p>「アプリを作りたい」がきっかけで情報系の大学へ進み、プロジェクトやハッカソンを通してサービス開発のスキルを磨いています。</p>
        </div>
      </div>
    </div>
  </div>
</section>
