<script type="text/javascript">

// ページ内リンクのジャンプアニメーション
$(function () {
  $('a[href^="#"]').click(function () {
    var speed = 500;
    var href= $(this).attr("href");
    var target = $(href == "#" || href == "" ? 'html' : href);
    var headerHeight = 60;
    var position = target.offset().top - headerHeight;
    $("html, body").animate({scrollTop:position}, speed, 'swing');
    return false;
  });
});

//Topの表示アニメーション
$(function() {
  $('#top').hide().fadeIn(1500);
});

</script>

<header>
  <!-- <div class="header-logo">
  <%= link_to("TweetApp", "/") %>
</div> -->
<ul class="header-menus has-text-primary">
  <li><%= link_to 'About', '#about' %></li>
  <li><%= link_to 'Works', '#works' %></li>
  <li><%= link_to 'Profile', '#profile' %></li>
</ul>
</header>

<section class="section" id="top">
  <div class="container">
    <h1 class="title" id="title">
      Takuya's <br>
      Portfolio
    </h1>
    <p class="subtitle" id="subtitle">
      No Challenge, No Life.<br>
      Any Lifes, Be Fully.
    </p>
  </div>
</section>

<section class="section about-top" id="about">
  <div class="container">
    About
  </div>
</section>

<section class="section works-top" id="works">
  <div class="container">
    Works
  </div>
</section>

<section class="section">
  <div class="columns is-mobile is-multiline is-centered">
    <% @menus.each do |menu| %>
    <div class="column is-narrow">
      <%= link_to "/#{menu.id}" do %>
      <div class="box menu">
        <figure>
          <%= image_tag menu.imgpath %>
          <% end %>
          <figcaption>
            <p class="menu-title"><%= menu.title %></p>
            <p class="menu-purpose"><%= menu.purpose %></p>
          </figcaption>
        </figure>
      </div>
    </div>
    <% end %>
  </div>
</section>

<section class="section profile-top" id="profile">
  <div class="container">
    Profile
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="myphoto">
      <%= image_tag 'me/me.png' %>
    </div>
  </div>
</section>
